<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Details</title>
    <link rel="stylesheet" href="/view.css">
</head>

<body>
   
        <h1>Note Details</h1>

        <h3>Note ID:</h3>
        <p><%= note.id %></p>

        <h2>Title:</h2>
        <p><%= note.titled %></p>

        <h2>Content:</h2>
        <p><%= note.content.replace(/\n/g, '<br>') %></p>

        <a href="/note">Back to All Notes</a>
   
</body>

</html>
